.page-header {
    color: #D11B30;
}

.start {
    color: #2EC4B6;
}

.legend {
    color: #D11B30;
}

.ans2 {
    color: #2EC4B6;
}

body {
    background: url(../images/Ball.jpg);
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif;;
    font-size: 35px;
}

.show-counter{
    color: #D11B30;
}

.time-up {
    color: #FF9F1C;
}

.right {
    color: #D11B30;

}

.wrong {
    color: #D11B30;

}

.quest1 {
    color: #D11B30;

}

.quest2 {
    color: #D11B30;

}

.quest3 {
    color: #D11B30;

}

.quest4 {
    color: #D11B30;

}

.quest5 {
    color: #D11B30;

}

.quest6 {
    color: #D11B30;

}

.quest7 {
    color: #D11B30;

}

.quest8 {
    color: #D11B30;

}

.quest9 {
    color: #D11B30;

}

.quest10 {
    color: #D11B30;

}