.page-header {
    color: #FFD428;
    font-family: 'Ubuntu', sans-serif;
}

.start {
    color: #247BA0;
    font-family: 'Ubuntu', sans-serif;
}

.legend {
    color: #FA7921;
    font-family: 'Ubuntu', sans-serif;
}

.ans2 {
    color: #247BA0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url(../images/funny.png);
    background-size: 1280px , 750px;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.show-counter{
    color: #FA7921;
    font-size: 17px;
}

.time-up {
    color: #FA7921;
    font-size: 17px;
}

.right {
    color: #FA7921;
    font-size: 17px;
}

.wrong {
    color: #FA7921;
    font-size: 17px;
}

.quest1 {
    color: #FA7921;
    font-size: 17px;

}

.quest2 {
    color: #FA7921;
    font-size: 17px;

}

.quest3 {
    color: #FA7921;
    font-size: 17px;

}

.quest4 {
    color: #FA7921;
    font-size: 17px;

}

.quest5 {
    color: #FA7921;
    font-size: 17px;

}

.quest6 {
    color: #FA7921;
    font-size: 17px;

}

.quest7 {
    color: #FA7921;
    font-size: 17px;

}

.quest8 {
    color: #FA7921;
    font-size: 17px;

}

.quest9 {
    color: #FA7921;
    font-size: 17px;

}

.quest10 {
    color: #FA7921;
    font-size: 17px;

}